# Canonical configuration file
# All values are included and set to defaults, except where noted

####
## Universe configuration
####

# The base-64 encoded DSON serialised Universe.
# Typically generated with GenerateUniverses.
# Default: No default value
universe=

# The default universe timestamp, in milliseconds since the Unix epoch
# Default: 1551225600 (27 February, 2019 @ 12:00am UTC)
# universe.timestamp=1551225600

# The default universe key store to use when generating universes.
# Default: universe.ks
# universe.key.path=universe.ks


####
## Node configuration
####

# The nodes signing key store.
# Default: node.ks
# node.key.path=node.ks

# The client API access port
# Default: 8080
cp.port=8080


####
## Time configuration
####

# Enable NTP.  If NTP is disabled, the node will use the system clock.
# Default: false
# ntp=false

# The NTP server to use for NTP synchronisation. Comment out for no NTP server
# synchronisation.
# Default: Do not use an NTP server for synchronisation
ntp.pool=pool.ntp.org


####
## Consensus and mempool configuration
####

# Minimum number of validators required to move to a new epoch.
# If an epoch which would otherwise end does not have at least
# this many staked validators, then it will continue until there
# are enough validators to satisfy this requirement.
# If there are less than this number of validators registered in
# the genesis atoms, then the node will not start.
# See also: epochs.views_per_epoch
# Default: 1
# consensus.min_validators=1

# Maximum number of unprocessed items that can be in the mempool before new
# items are rejected.
# Default: 1000
# mempool.maxSize=1000


####
## Messaging
####

# How long the inbound message queue can grow to, before inbound messages are
# discarded.
# Default: 8192
# messaging.inbound.queue_max=8192

# How long the outbound message queue can grow to, before outbound messages
# are discarded.
# Default: 16384
# messaging.outbound.queue_max=16384

# How long messages can be in the inbound or outbound queue before being
# discarded, in milliseconds.
# Default: 30000
# messaging.time_to_live=30000


####
## Network configuration
####

# Directly specifies the public IP address of this node.
# Default: Empty
# network.host_ip=

# List of public IP address oracles used to determine this hosts public IP
# address, if enabled.  Note that at least half of these oracles need to
# agree on the IP address before it will be accepted.
# Default: https://checkip.amazonaws.com/,https://ipv4.icanhazip.com/,https://myexternalip.com/raw,https://ipecho.net/plain,https://bot.whatismyipaddress.com/,https://www.trackip.net/ip,https://ifconfig.co/ip
# network.host_ip_query_urls=

# A comma separated list of seed node hostnames or IPs to use for discovery.
# Default: Empty
# network.p2p.seed_nodes=

# Default port to use for the seed nodes
# Default: 30000
# network.p2p.default_port=30000

# Specifies how often the discovery round is triggered (in milliseconds)
# Default: 120000
# network.p2p.discovery_interval=120000

# TCP address to bind to for listening to inbound connections.
# Default: 0.0.0.0
# network.p2p.listen_address=0.0.0.0

# TCP port to bind to for listening to inbound connections.
# Default: 30000
# network.p2p.listen_port=30000

# Specifies whether the server should process the PROXY header for inbound connections.
# Default: false
# network.p2p.use_proxy_protocol=false

# TCP port to broadcast to other peers (if different than listen_port - e.g. when port forwarding is used).
# Default: <defaults to listen_port>
# network.p2p.broadcast_port=30000

# Specifies the connection timeout for outbound connection (in milliseconds).
# Default: 5000
# network.p2p.peer_connection_timeout=5000

# Maximum number of inbound channels this node will accept.
# Once this threshold is reached, new connections are dropped.
# Default: 1024
# network.p2p.max_inbound_channels=1024

# Maximum number of outbound channels this node will open.
# Once this threshold is reached, new connections are dropped.
# Default: 1024
# network.p2p.max_outbound_channels=1024

# The buffer size of incoming messages for each TCP connection.
# Default: 255
# network.p2p.channel_buffer_size=255

# Specifies how often a ping message is sent.
# Default: 10000
# network.p2p.peer_liveness_check_interval=10000

# A timeout for receiving a pong message.
# Default: 5000
# network.p2p.ping_timeout=5000


####
## Database configuration
####

# Upper bound for db.cache_size.
# Default: greater of 50000000 or 10% of available memory
# db.cache_size.min=

# Lower bound for db.cache_size.
# Default: 25% of available memory
# db.cache_size.max=

# The actual cache size to use.  Adjusted to be within the bounds of db.cache_size.min and db.cache_size.max
# Default: 12.5% of available memory
# db.cache_size=

# Location to create/find database files.
# Default: ./RADIXDB
# db.location=./RADIXDB


####
## Debug configuration
####

# Number of vertices included in the debug API vertex query response
# Default: 16
# api.debug.vertex_buffer_size=16

####
## API servers configuration
####

# Bind address for the ARCHIVE HTTP server
# Default is to bind to all local interfaces
# api.archive.bind.address=0.0.0.0

# Bind address for the NODE HTTP server
# Default is to bind to all local interfaces
# api.node.bind.address=0.0.0.0
