name: radixdlt-artifacts-to-release
on:
  release:
    types: [published]
jobs:
  cancel_running_workflows:
    name: Cancel running workflows
    runs-on: ubuntu-20.04
    steps:
      - name: cancel running workflows
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
  publish-distribution-zip:
    name: Add artifacts release ${{ github.event.release.tag_name }}
    runs-on: ubuntu-latest
    environment: publish-artifacts
    steps:
      - uses: actions/checkout@v1
      - id: set_environment
        name: Set variables
        uses: ./.github/actions/set-variables
      - uses: actions/checkout@v2
        with:
          ref: ${{ steps.set_environment.outputs.git_ref }}
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build radixdlt
        uses: ./.github/actions/gradle-task
        with:
          is_release: ${{ steps.set_environment.outputs.is_release }}
          gradle_command: clean build -x test
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - id: get_version
        name: Get radixdlt version
        uses: ./.github/actions/get-version
        with:
          is_release: ${{ steps.set_environment.outputs.is_release }}
      - name: Upload distribution zip
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./core/build/distributions/radixdlt-${{ steps.get_version.outputs.radixdlt_version }}.zip
          asset_name: radixdlt-dist-${{ steps.get_version.outputs.radixdlt_version }}.zip
          asset_content_type: application/zip